{% load static %}
<html lang="ru">

<head>
   <meta charset="chcp 1251">
   <title> Пенсионный калькулятор </title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/pcalc.css' %}">
</head>

<body>
   
<header>  
<h1>Пенсионный калькулятор</h1>
<p class="par"> Наше приложение может рассчитать Вашу пенсию на основании предоставленных Вами данных</p>
</header>      

<form action =""  method="POST">   
   {% csrf_token %}
  <div class="data_b container">  
        <div class="row">
             <div class="col-md-2">
                <label>Укажите Ваш пол:   </label> {{form.sex}}
              </div>
             <div class="col-md-4">
                <label>Введите год Вашего рождения:   </label>   {{form.year_born}}
             </div>
             <div class="col-md-6">
                 <label> Введите год начала Вашей трудовой деятельности:   </label> {{form.year_begin}} 
              </div>
            </div>
      </div>


<div class= "data_b container">      
         <div class="row">
            <div class="col-md-12">
                 <h4> Период до 2001 года </h4>
                   Если Вам больше 40 лет, то у вас, вероятно, есть трудовой стаж за период до 2001 года. 
                   Чтобы его учесть,  заполните, пожалуйста, следующие поля:
            </div>
       </div>
       <div class="row">
            <div class="col-md-6">
            <label>Укажите Ваш стаж до 2001 года: </label>   {{form.st01}}
            </div>   
            <div class="col-md-6">
            <label>Укажите Ваш стаж до 1991 года:   </label>     {{form.st91}}   
            </div>
       </div>
           <div class="row">
           <div class="col-md-12">
           <label>Укажите Ваш средний заработок за 5 лет :   </label>       {{form.szar5}}  
           <label>  или за 2 года:   </label>  {{form.szar2}} 
           </div>     
       </div>      
</div>
<div class= "data_b container">      
         <div class="row">
            <div class="col-md-12"> 
             <h4> Период до 2014 года </h4>
                   Если Вам больше 30 лет, то у вас, вероятно, есть трудовой стаж за период до 2014 года. 
                   Чтобы его учесть,  заполните, пожалуйста, следующие поля:
            </div>
        </div>
       <div class="row">
            <div class="col-md-6">
            <label>Укажите Ваш стаж до 2014 года: </label>  {{form.st14}}
            </div>
           <div class="col-md-6">
                <label>Укажите Ваш средний заработок за этот период:    {{form.szar14}} 
        </div>     
      </div>
   </div>     
<div class= "data_b container">      
         <div class="row">
            <div class="col-md-12"> 
             <h4> Период до 2014 года </h4>
                  {{form.szar15}}  
        </div>                
   </div>
</div>
<div class="row">
       <div class="col-md-6">
                 {{form.army}}
                 {{form.child}}   
                 {{form.other}}  
       </div>      
       <div class="col-md-6">
                 {{form.stn1}}
                 {{form.stn2}} 
	{{form.stl1}}
                 {{form.stl2}} 
        </div>     
        
  </div>
</div>
  <hr class="mb-4">
  <button class="text-white font-weight-bold display-4"style='background-color: #5f8e8e; border-radius: 50px; height: 70px; width: 50%;' type="submit">Рассчитать</button>
   
</form>       

</body>
</html>